= Development =

{{ project.display_name }} is an open source application.  Everyone is able to [Contributing contribute] to {{ project.display_name }}.  If you have the time and would like to get involved, then you're in the right place.

{{ project.display_name }}'s development is managed by Google Code.  If you are familiar with Google Code, then jump right in.  If you aren't familiar with Google Code, then you might want to check out the [http://code.google.com/support/bin/topic.py?topic=10380 FAQ].  Specifically, you might want to look at:
  * [http://code.google.com/support/bin/topic.py?topic=10384 Issue Tracking]
  * [http://code.google.com/support/bin/topic.py?topic=10457 Project Wikis]
  * [http://code.google.com/support/bin/topic.py?topic=10386 Subversion]

Have a look around, be sure to read through ways to [Contributing contribute] if you would like to help, and enjoy!