= Localizing {{ project.display_name }} =

If you would like {{ project.display_name }} to be available in your native langauge, please contact me at [mailto:wbyoung@fadingred.org wbyoung@fadingred.org].