= The Mac OS X Terminal =

The Terminal is a Mac OS X command line utility.  It can be daunting if you've never used a Unix/Linux system before, but everything that you will need to do in the Terminal is explained clearly.

The Terminal location is located at /Applications/Utilities/.

Visit Wikipedia's [http://en.wikipedia.org/wiki/Terminal_%28application%29 Terminal (application)] or [http://en.wikipedia.org/wiki/Command_line_interface Command Line Interface] page for more information on command line utilities.